.selectorcontainer {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: center ;
    align-content: flex-start ;
    margin: 80px;
}
ul {
    list-style-type: none;
}
hr{
    border: 3px solid;
    border-radius: 2px;
}
.out{
    overflow: hidden;
}
.scores {
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 270px;
    height: 310px;
    padding: 30px;
    background-color: #3882d2;
    display: flex ;
    flex-direction: column;
    flex-wrap: nowrap ;
    align-content: flex-start ;
    margin-left: 70%;
    margin-right: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    clear: both;
    line-height: normal;
    position: fixed;
    bottom: -290px;
}
.scoretitle{
    font-size: 25px;
    width:100%;
    margin-bottom: 20px;
}
.score{
    font-size: 20px;
    width:100%
}
.optionbuttons{
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    align-content: flex-start ;
}
.button{
    margin:10px ;
    border-radius: 10px;
}
.levelcontainer{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: right ;
    align-content: flex-start ;
    margin: 20px;
}
.selectlevel{
    height: 20px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.home{
    background-color: #3882d2;
    height: 65px;
    width: 65px;
    margin: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}
.username{
    background-color: #3882d2;
    height: 35px;
    width: 360px;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    display: flex;
}
.input{
    margin-left:10px;
    height: 30px;
}
.win{
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 50px;
    margin: 10%;
    background-color: #3882d2;
    outline: 5px solid lightgreen;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
}
.main{
    background-color:#c5c5c5;
}
.wall{
    background-color: #3882d2;
}
.empty{
    background-color: #ffffff;
}
.goal{
    background-color: #c9deef;
}
.character{
    background-color: red;
}
.box{
    background-color: burlywood;
}
.boxcorrect{
    background-color: lightgreen;
}
.nextline{
    width: 100%;
}
.gameobject{
    height:100px;
    width:100px;
}